.recipe-container {
  margin: 8rem 20px;
  display: flex;
}
.partOne {
  align-self: center;
}
.partOne h2 {
  font-size: 5rem;
  text-align: center;
}

@media only screen and (min-width: 999px) {
  .recipe-container {
    margin: 0 auto;
    max-width: 1240px;
    display: flex;
  }
  .partOne {
    align-self: center;
  }
  .partOne h2 {
    font-size: 5rem;
    text-align: center;
  }

  .recipe {
    max-width: 1240px;
  }
}
